p{
    background-color: aqua;
}

a{
    background-color: rgb(173, 119, 223);
}

div{
    color: rgb(139, 139, 39);
    background-color: blanchedalmond;
}

span{
    background-color: rgb(240, 153, 153);
}